<% include layout.ejs %>

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Carer Management</h1>
        </div>
        
    </div>
    <div class="row">
    	<div class="panel panel-default">
    	<div class="panel-heading">Carer List</div>
    	<table class="table">
    		<tr>
    			<th>Name</th>
    			<th>Level</th>
    			<th>Relation</th>
    			<th>Option</th>
    		</tr>
    		<tr>
    			<th>Johnny</th>
    			<th>1st</th>
    			<th>son</th>
    			<th>
                    <button type="button" class="btn btn-warning">Change Priority</button>
                </th>
    		</tr>
    		<tr>
    			<th>Sindy</th>
    			<th>2st</th>
    			<th>daughter</th>
    			<th>
                    <button type="button" class="btn btn-warning">Change Priority</button>
                </th>
    		</tr>
    	</table>
    	</div>
    </div>
</div>